@model List<WebApplication9.Models.login>
@{
    ViewBag.Title = "form";
}

<h2>form</h2>

<h2>form</h2>
@Html.ActionLink("register", "Index", "Home")
<table class="table table-bordered">

    <tr>
        <th>id</th>
        <th>name</th>
        <th>password</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.password</td>
        </tr>
    }

</table>